#about_hero_section {
  width: 100%;
  padding: 3.5rem;
  padding-top: 7rem;
}
.about_top_wrapper {
  display: flex;
  justify-content: space-between;
}
.about_hero_title {
  width: 50%;
}
.about_hero_title h2 {
  width: 90%;
}
.about_hero_info {
  width: 45%;
  padding-top: 4rem;
}

.about_hero_info p {
  margin: 0;
  width: 85%;
  color: #000000;
  margin-top: 1.2rem;
}
.about_hero_info p:nth-child(1) {
  margin-top: 0;
}
.office_label {
  width: 100%;
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}
.office_label h5 {
  text-transform: uppercase;
  color: #5f5f5f;
  margin-bottom: 0.5rem;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 700;
}
.office_label h2 {
  font-family: var(--primary-font);
  color: #1d1d1d;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

#poster_wrap_about {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.about_banner {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  overflow: hidden;
}

.about_banner img {
  width: 100%;
  height: auto;
}

/* filmography section start*/

#filmography_section {
  width: 100%;
  padding: 3.5rem;
  position: relative;
}
#filmograpy_img {
  width: 21vw;
  height: 30vw;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}
#filmograpy_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#filmography_cards_wrap {
  margin-top: 2rem;
  width: 100%;
}
.filmography_card_link {
  text-decoration: none;
}

.filmography_card {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
  padding: 2rem 0;
  text-decoration: none;
}

.filmo_year {
  width: 35%;
}
.filmo_info {
  width: 30%;
}
.filmography_card:hover p,
.filmography_card:hover h5 {
  color: #000000;
}
.filmo_info p {
  margin: 0;
  font-size: 1.2rem;
  transition: all ease;
}
.filmo_director {
  margin-top: 2rem;
}

.filmo_director h5 {
  text-transform: uppercase;
  color: #5f5f5f;
  margin-bottom: 0.5rem;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  #about_hero_section {
    padding: 7rem 1rem 1rem;
  }
  .about_top_wrapper {
    flex-direction: column;
  }
  .about_hero_title {
    width: 100%;
  }
  .about_hero_info {
    width: 100%;
    padding-top: 1rem;
  }
  .about_hero_info p {
    width: 95%;
  }
  .about_banner {
    margin-top: 2rem;
  }
  #filmography_section {
    padding: 2rem 1rem;
  }
  .filmography_card {
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .filmo_year {
    width: 100%;
  }
  .filmo_info {
    width: 95%;
  }
  .filmo_info > p {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    font-family: Urbanist !important;
  }
  .filmo_director h5 {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #about_hero_section {
    padding: 7rem 1rem 2rem;
  }
  .about_top_wrapper {
    flex-direction: column;
  }
  .about_hero_title {
    width: 100%;
  }
  .about_hero_info {
    width: 100%;
    padding-top: 2rem;
  }
  .about_hero_info p {
    width: 95%;
  }
  .about_banner {
    margin-top: 2rem;
  }
  #filmography_section {
    padding: 2rem 1rem;
  }
  .filmography_card {
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .filmo_year {
    width: 100%;
  }
  .filmo_info {
    width: 95%;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #about_hero_section {
    padding: 7rem 1.5rem 2rem;
  }
  .about_top_wrapper {
    flex-direction: column;
  }
  .about_hero_title {
    width: 100%;
  }
  .about_hero_info {
    width: 100%;
    padding-top: 2rem;
  }
  .about_hero_info p {
    width: 95%;
  }
  .about_banner {
    margin-top: 2rem;
  }
  #filmography_section {
    padding: 2rem 1.5rem;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
