#contact_section {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding:1.8rem;
}
#contact-top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

#contact-top .tag{
  margin-bottom: 0rem;
  font-size: 1rem;
  color: #1d1d1d;
}
#contact-top .description{
  margin: 0;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1.2rem;
}
#contact_bottom{
  display: flex;
  align-items: center;
  gap: 8rem;
}
#contact_bottom .description{
  margin: 0;
  color: #1d1d1d;
}
.contact_social{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact_social a{
  font-size: 1.1rem;
  color: #1d1d1d;
  line-height: 1;
}
.contact_social a:last-child{
  font-size: 1.44rem;
}
#contact-top .heading{
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  cursor: default;
}
#contact-top .heading .letter-u{
  margin-left: 1rem;
}
#middle_img{
  width: 4.5rem;
  height: 4.8rem;
  overflow: hidden;
  display: inline-block;
  margin: 0 .5rem;
  border-radius: .2rem;
}
#middle_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middle_img_wrap .line{
  display: flex !important;
  align-items: center;
}
/* Extra small (Phones) */
@media (max-width: 480px) {
  #contact_bottom .description{
    white-space: nowrap;
  }
  #contact_section .heading{
    font-size: 1.7rem !important;
  }
  #contact_bottom{
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
  #contact_section{
    padding: 1rem;
  }
  #middle_img{
    width: 3.8rem;
    height: 3.8rem;
  }

}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
