#contact_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#contact_info {
  width: 50%;
  height: 100%;
  padding: 3.5rem;
  padding-top: 12rem;
}
.contact_dets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.contact_dets p {
  margin: 0;
  color: #000;
}
.contact_dets .tag {
  font-size: 1rem;
  color: #1d1d1d;
}
.contact_dets_right_wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact_social {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.1rem;
}
.contact_social a{
  text-decoration: none; 
  color: #1d1d1d;
}
.contact_social svg {
  cursor: pointer;
}

#contact_banner {
  width: 50%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

#contact_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  #contact_section {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 7rem 1rem 2rem;
    gap: 2rem;
  }
  #contact_info {
    width: 100%;
    height: auto;
    padding: 0;
  }
  #contact_banner {
    width: 100%;
    height: 100%;
  }
  .contact_dets {
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
  .contact_dets_right_wrap {
    flex-direction: row;
    gap: 4rem;
    width: 100%;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
   #contact_section {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 7rem 1rem 2rem;
    gap: 2rem;
  }
  #contact_info {
    width: 100%;
    height: auto;
    padding: 0;
  }
  #contact_banner {
    width: 100%;
    height: 100%;
  }
  .contact_dets {
    margin-top: 2rem;
    flex-direction: row;
    gap: 6rem;

  }
  .contact_dets_right_wrap {
    flex-direction: row;
    gap: 4rem;
    width: fit-content;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #contact_info {
    width: 50%;
    height: 100%;
    padding: 12rem 1.5rem 3.5rem;
}
.contact_dets{
  flex-direction: column;
  gap: 2rem;
}
.contact_dets_right_wrap{
  flex-direction: row;
  gap: 5rem;
}
#contact_banner{
  width: 65%;
}
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
