#contact_section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
#contact_info{
    width: 50%;
    height: 100%;
    padding: 3.5rem;
    padding-top: 12rem;
}
.contact_dets{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.contact_dets:last-child{
    justify-content: flex-end;
}
.contact_dets_right{
    width: 25%;
}
.contact_dets p{
    margin: 0;
    color: #000;
}
.contact_dets .tag{
    font-size: 1rem;
    color: #1D1D1D;
}
.contact_social{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.3rem;
}

#contact_banner{
    width: 50%;
    height: 100%;
}

#contact_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}