/* hero section  */
#hero_section_container {
  width: 100%;
  position: relative;
}

#hero_section {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100svh;
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero_section h2 {
  font-family: var(--tag-font);
  font-size: 8rem;
  font-weight: 400;
  height: 7.16rem;
  transform-origin: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: default;
}
#hero_section h2 span {
  height: fit-content;
  display: inline-block;
  height: 7.16rem;
  line-height: 1;
}

#landing_video {
  position: absolute;
  top: 50%;
  left: 50.3%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: white;
  height: 5.66rem;
  width: auto;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  overflow: hidden;
  cursor: pointer;
}
#landing_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  background-color: black;
}
#landing_video:active #play_btn {
  scale: 0.8;
}
#play_btn {
  transform-origin: center;
  transition: scale 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  pointer-events: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 1vw;
  justify-content: center;
  backdrop-filter: blur(5px);
  mix-blend-mode: difference;
  background: white;
  height: 4vw;
  width: 4vw;
}

.letter_inner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: fit-content;
  display: inline-block;
}
.letter_space {
  padding-right: 1rem;
}

/* hero section start  */

/* movie_carouse_sectionl start*/

#movie_carousel_section {
  width: 100%;
  height: 100svh;
  padding: 3.5rem;
  padding-bottom: 2.5rem;
  background-color: #fffef1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
#movie_carousel_section.not-ishero{
  height: auto;
  padding: 3.5rem;
}

#movie_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#movie_header_title {
  width: 100%;
  text-align: center;
}
.movie_tag_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.movie_tag_wrap .tag {
  margin-bottom: 0;
}
#movie_carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2.2rem;
}
/* movie_carouse_sectionl end */

/* upcoming  section start */

#upcoming_banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 3.5rem 4rem;
}

#upcoming_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upcoming_banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* upcoming  section end */

/* directors section */

#directors_section {
  width: 100%;
  padding: 3.5rem;
}
.directors_section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4.5rem;
}

/* highlight section */

#highlight_section {
  width: 100%;
  position: relative;
  padding: 3.5rem 0;
}

#highlight_section h2 {
  font-family: var(--primary-font);
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.2;
}

#highlight_section > h2,
#highlight_section > h5 {
  text-align: center;
}

#highlights_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.highlight_card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 2rem 3.5rem;
  position: relative;
  background-color: #fffef1;
  transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.highlight_card:hover {
  background-color: #a5a08c;
}

.highlight_card .highlight_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1d1d1d;
}

.highlight_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1d1d1d;
  width: 35%;
}

.highlight_info p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #1d1d1d !important;
}
.highlight_info .description {
  text-transform: capitalize;
  width: 90%;
}
.highlight_info h4 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
}

.highlight_img {
  width: 35%;
  height: 350px;
  overflow: hidden;
}

.highlight_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about section  */

#about_section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #1d1d1d;
}

#about_section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  object-position: 50% 25%;
}
#about_section_over {
  position: absolute;
  inset: 0;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about_section .heading,
#about_section .description {
  color: #fcfcfc;
}
#about_section .heading {
  font-size: 6rem;
  line-height: 1;
}
#about_section_title {
  width: 100%;
  padding-right: 40%;
}
#about_section_info {
  width: 100%;
  padding-left: 60%;
}
#about_section_info .common_btn {
  margin-top: 2rem;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  .rod {
    display: none;
  }

  .shadow {
    display: none;
  }
  #highlight_section {
    padding: 2.5rem 0;
  }
  #expand_line {
    background-color: #a5a08c;
  }
  #play_btn {
    left: calc(100% - 4rem) !important;
    top: calc(100% - 6rem) !important;
    transform: translate(0, 0) !important;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  #hero_section h2 {
    font-size: 3rem;
    height: 2.5rem;
  }
  #hero_section h2 span {
    height: 2.5rem;
    line-height: 1;
  }
  #landing_video {
    height: 2.3rem;
  }
  #movie_carousel_section {
    gap: 1rem;
    height: auto;
    padding: 2.5rem 1rem !important;
  }
  #movie_header_title .description br {
    display: none;
  }
  #movie_carousel {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0rem;
  }
  .directors_section_header {
    margin-bottom: 3rem;
  }
  #directors_section {
    padding: 2.5rem 1rem;
  }
  .directors_section_header .description br {
    display: none;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
    line-height: 1.2;
  }
  #highlight_section > h2,
  #highlight_section > h5 {
    margin-left: 1rem;
  }

  .highlight_card {
    padding: 2rem 1rem;
    transition: none;
  }
  .highlight_card:hover {
    background-color: #fffef1;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
  }
  #highlights_container {
    margin-top: 0rem;
  }
  .highlight_card:nth-child(1) {
    padding-top: 0.9rem;
  }

  .highlight_card {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .highlight_info p:nth-child(1) {
    margin-top: 0;
  }
  .highlight_info p {
    margin-bottom: 0.8rem;
    margin-top: 1.2rem;
    width: 95% !important;
  }
  .highlight_card .common_btn {
    display: none;
  }
  .highlight_info h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .btn_container {
    display: flex;
    margin-top: 1.5rem;
  }
  .highlight_img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .highlight_info {
    width: 100%;
  }
  #about_section {
    height: 100vh;
  }
  #upcoming_banner {
    height: auto !important;
    padding: 2.5rem 1rem !important;
  }

  #upcoming_header .tag:nth-child(3) {
    text-align: right;
  }
  #image_banner img {
    width: 100%;
    transform: translateY(0%) !important;
  }
  #expand_line {
    height: 2px;
  }
  #image_banner {
    display: none;
  }
  .mobile_upcoming {
    display: block;
    width: 100%;
    height: auto;
  }
  #about_section_over {
    padding: 1em;
  }
  #about_section {
    height: 90vh;
  }
  #about_section_info {
    padding-left: 0%;
  }
  #about_section_title {
    width: 100%;
    padding-right: 0%;
    margin-bottom: 2rem;
  }
  #about_section .heading,
  #about_section .heading .letter-u {
    font-size: 3rem !important;
    line-height: 1;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #expand_line::before,
  #expand_line::after {
    display: none;
  }
  #play_btn {
    left: calc(100% - 4rem) !important;
    top: calc(100% - 6rem) !important;
    transform: translate(0, 0) !important;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  #hero_section h2 {
    font-size: 3rem;
    height: 2.5rem;
  }
  #hero_section h2 span {
    height: 2.5rem;
    line-height: 1;
  }
  #landing_video {
    height: 2.3rem;
  }
  #movie_carousel_section {
    gap: 1.5rem;
    height: auto;
    padding: 3.5rem 1rem !important;
  }
  #movie_carousel {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  #directors_section {
    padding: 3.5rem 1rem;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
    line-height: 1.2;
  }
  #highlight_section > h2,
  #highlight_section > h5 {
    margin-left: 1rem;
  }

  .highlight_card {
    padding: 2rem 1rem;
    transition: none;
  }
  .highlight_card:hover {
    background-color: #fffef1;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
  }
  #highlights_container {
    margin-top: 1rem;
  }

  .highlight_card {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .highlight_info p:nth-child(1) {
    margin-top: 0;
  }
  .highlight_info p {
    margin-bottom: 0.8rem;
    margin-top: 1.2rem;
    width: 95% !important;
  }
  .highlight_card .common_btn {
    display: none;
  }
  .highlight_info h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .btn_container {
    display: flex;
  }
  .highlight_img {
    width: 100%;
    height: auto;
  }
  .highlight_info {
    width: 100%;
  }
  #about_section {
    height: 120vh;
  }

  #upcoming_banner {
    height: auto;
    padding: 3.5rem 1rem 3.5rem;
    justify-content: center;
    align-items: center;
  }
  #canvas_parent {
    width: 75%;
    transform: translateY(1rem);
  }

  .filter_movie {
    font-size: 0.9rem !important;
  }
  .filter_movie {
    margin: 0 !important;
  }
  #filter_gallery {
    margin-top: 2rem;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
    line-height: 1.2;
  }
  #highlight_section > h2,
  #highlight_section > h5 {
    margin-left: 1rem;
  }

  .highlight_card {
    padding: 2rem 1rem;
    transition: none;
  }
  .highlight_card:hover {
    background-color: #fffef1;
  }

  #highlight_section h2 {
    font-size: 1.9rem;
  }
  #highlights_container {
    margin-top: 1rem;
  }

  .highlight_card {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .highlight_info p:nth-child(1) {
    margin-top: 0;
  }
  .highlight_info p {
    margin-bottom: 0.8rem;
    margin-top: 1.2rem;
    width: 95% !important;
  }
  .highlight_card .common_btn {
    display: none;
  }
  .highlight_info h4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .btn_container {
    display: flex;
  }
  .highlight_img {
    width: 100%;
    height: auto;
  }
  .highlight_info {
    width: 100%;
  }
  #expand_line {
    height: 2px;
  }
  #image_banner {
    display: none;
  }
  .mobile_upcoming {
    display: block;
    width: 100%;
    height: auto;
  }

  #about_section_over {
    padding: 2em;
  }
  #about_section {
    height: 90vh;
  }
  #about_section_info {
    padding-left: 20%;
  }
  #about_section_title {
    width: 100%;
    padding-right: 0%;
    margin-bottom: 2rem;
  }
  #about_section .heading,
  #about_section .heading .letter-u {
    font-size: 3.5rem !important;
    line-height: 1;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  #gallery_list {
    gap: 2.5rem;
    padding: 1rem 1rem 3.5rem;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .gallery_card {
    height: 260px;
    position: relative;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #hero_section h2 {
    font-size: 3rem;
    height: 2.5rem;
  }
  #hero_section h2 span {
    height: 2.5rem;
    line-height: 1;
  }
  #landing_video {
    height: 2.3rem;
  }
  .filter_movie {
    margin: 0 !important;
  }
  #filter_gallery {
    margin-top: 2rem;
  }

  .highlight_card {
    padding: 2rem 1.5rem;
  }
  .highlight_info {
    width: 50%;
  }
  .highlight_info h4 {
    font-size: 2rem;
  }
  .highlight_img {
    height: 285px;
  }
  #movie_carousel_section {
    padding: 3.5rem 1rem 2.5rem !important;
  }
  #movie_carousel_section .movie_img {
    height: 180px !important;
  }
  #directors_section {
    padding: 3.5rem 1rem;
  }

  #about_section_over {
    padding: 2em;
  }
  #about_section {
    height: 85vh !important;
  }
  #about_section_info {
    padding-left: 40%;
  }
  #about_section_title {
    width: 100%;
    padding-right: 0%;
    margin-bottom: 2rem;
  }
  #about_section .heading,
  #about_section .heading .letter-u {
    font-size: 4.5rem !important;
    line-height: 1;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  .highlight_info {
    width: 50%;
  }
  .highlight_img {
    height: 300px;
  }

  
  #about_section_over {
    padding: 3.5em;
  }
  #about_section {
    height: 90vh !important;
  }
  #about_section_info {
    padding-left: 50%;
  }
  #about_section_title {
    width: 100%;
    padding-right: 0%;
    margin-bottom: 2rem;
  }
  #about_section .heading,
  #about_section .heading .letter-u {
    font-size: 5rem !important;
    line-height: 1;
  }
}
