/* movie listing  */

#movie_listing {
  width: 100%;
  padding: 3.5rem;
  position: relative;
  height: auto;
  padding-top: 7rem;
}
#movie_listing .btn_container {
  display: flex;
}

.filter_movie {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 2.2rem 0 1rem;
  color: #1d1d1d;
}
.filter_movie span {
  position: relative;
  display: inline-block;
  line-height: 1.6;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 2px; /* width = 0, height = 2px */
  background-position: 0 100%; /* bottom line */
  transition: background-size 0.3s ease;
}

.filter_movie span.active {
  color: #a5a08c;
  background-image: linear-gradient(#a5a08c, #a5a08c);
  background-size: 100% 2px; /* full underline */
}

.filter_movie span:hover {
  background-size: 100% 2px; /* expand underline on hover */
}

/* movie container */
#movie_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
  color: #1d1d1d;
  width: 100%;
}
#movie_container.hero,
#filter_wrap {
  opacity: 0;
}
#movie_container.hero .movie_img {
  height: 420px;
}
.movie_img {
  position: relative;
  width: 100%;
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
  background: linear-gradient(
        to right,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      0 0,
    linear-gradient(
        to right,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      0 100%,
    linear-gradient(
        to left,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      100% 0,
    linear-gradient(
        to left,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      100% 100%,
    linear-gradient(
        to bottom,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      0 0,
    linear-gradient(
        to bottom,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      100% 0,
    linear-gradient(
        to top,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      0 100%,
    linear-gradient(
        to top,
        #1d1d1d calc(1 / 14.4 * 1rem),
        transparent calc(1 / 14.4 * 1rem)
      )
      100% 100%;
  background-repeat: no-repeat;
  background-size: 1px 1px;
  transition: background-size 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.movie_card:hover .movie_img {
  background-size: calc(12 / 14.4 * 1rem) calc(12 / 14.4 * 1rem);
}

.movie_img video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.movie_card:hover video {
  width: calc(100% - 14.4px * 2);
  height: calc(100% - 14.4px * 2);
}
.movie_img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s linear, width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.movie_card:hover img {
  width: calc(100% - 14.4px * 2);
  height: calc(100% - 14.4px * 2);
  opacity: 0;
}

.movie_dets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetic;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* movie listing  end */

/* Extra small (Phones) */
@media (max-width: 480px) {
  #movie_listing {
    padding: 7rem 1rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .movie_img {
    height: 250px !important;
  }
  .movie_card video {
    display: none;
  }
  .movie_card:hover video {
    width: 100%;
    height: 100%;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #movie_listing {
    padding: 7rem 1rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .movie_img {
    height: 200px !important;
  }
  .movie_card video {
    display: none;
  }
  .movie_card:hover video {
    width: 100%;
    height: 100%;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0 !important;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #movie_listing {
    padding: 7rem 1.5rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .movie_img {
    height: 280px !important;
  }
  .movie_card video {
    display: none;
  }
  .movie_card:hover video {
    width: 100%;
    height: 100%;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0 !important;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
   .movie_img {
    height: 340px !important;
  }
}
