/* movie listing  */

#movie_listing {
  width: 100%;
  padding: 3.5rem;
  position: relative;
  height: auto;
  padding-top: 9rem;
}
#movie_listing .btn_container {
  display: flex;
}
.movie_listing_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#filter_wrap {
  width: 100%;
}
.filter_movie {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 2.2rem 0 1rem;
  color: #1d1d1d;
}
.filter_movie span {
  position: relative;
  display: inline-block;
  line-height: 1.6;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 2px; /* width = 0, height = 2px */
  background-position: 0 100%; /* bottom line */
  transition: background-size 0.3s ease;
}

.filter_movie span.active {
  color: #a5a08c;
  background-image: linear-gradient(#a5a08c, #a5a08c);
  background-size: 100% 2px; /* full underline */
}

.filter_movie span:hover {
  background-size: 100% 2px; /* expand underline on hover */
}

/* movie container */
#movie_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
  color: #1d1d1d;
  width: 100%;
}
#movie_container.hero,
#filter_wrap {
  opacity: 0;
}
#movie_container.hero .movie_img {
  height: 420px;
}
.movie_img {
  position: relative;
  width: 100%;
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_img video {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.movie_img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  opacity: 1;
  transform: translateZ(0);
  transition: scale 0.6s cubic-bezier(0.22, 0.31, 0, 1),
    mask-size 0.6s cubic-bezier(0.22, 0.31, 0, 1),
    opacity 0.6s cubic-bezier(0.22, 0.31, 0, 1),
    -webkit-mask-size 0.6s cubic-bezier(0.22, 0.31, 0, 1);
}
.movie_card:hover img {
  mask-image: radial-gradient(
    circle at 50%,
    transparent,
    transparent 5%,
    #000 7%
  );
  mask-size: 2400%;
  opacity: 0;
  transition: scale 1.2s cubic-bezier(0.22, 0.31, 0, 1),
    mask-size 1.2s cubic-bezier(0.22, 0.31, 0, 1),
    opacity 1.2s cubic-bezier(0.5, 0, 0.3, 1),
    -webkit-mask-size 1.2s cubic-bezier(0.22, 0.31, 0, 1);
}

.movie_dets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetic;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* movie listing  end */

/* Extra small (Phones) */
@media (max-width: 480px) {
  #movie_listing {
    padding: 7rem 1rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .movie_img {
    height: auto !important;
    aspect-ratio: 16/9;
  }
  .movie_card video {
    display: none;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
    mask-image: none;
    mask-size: 100%;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #movie_listing {
    padding: 7rem 1rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .movie_img {
    height: 200px !important;
  }
  .movie_card video {
    display: none;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
    mask-image: none;
    mask-size: 100%;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0 !important;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #movie_listing {
    padding: 7rem 1.5rem 3.5rem;
  }
  #movie_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .movie_img {
    height: 280px !important;
  }
  .movie_card video {
    display: none;
  }

  .movie_card:hover img {
    width: 100%;
    height: 100%;
    opacity: 1;
    mask-image: none;
    mask-size: 100%;
  }
  .filter_movie span {
    white-space: nowrap;
  }
  .filter_movie {
    font-size: 0.8rem;
    gap: 1.5rem;
    margin: 1.5rem 0 !important;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  .movie_img {
    height: 340px !important;
  }
}
