#news_hero_section {
  width: 100%;
  padding: 3.5rem;
  padding-top: 9rem;
}
.news_hero_title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#poster_wrap_news {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.news_poster {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  overflow: hidden;
}
.news_poster img {
  width: 100%;
  height: auto;
}
.news_info_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.news_data {
  color: #000;
  margin-bottom: 0.5rem;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-weight: 500;
}
.news_title_wrap .heading {
  font-size: 2.5rem;
  width: 80%;
}

.news_time {
  display: flex;
  margin-top: 2rem;
}
.news_time_tab {
  width: 40%;
}
.news_time_tab p {
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.share_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.share_text {
  font-size: 12px;
  opacity: 0;
  transform: translateY(4px);
  transition: all 0.2s ease;
  background-color: black;
  color: white; 
  padding: .2rem .5rem;
}

.share_btn:hover .share_text {
  opacity: 1;
  transform: translateY(0);
}
.news_detail_wrap {
  width: 55%;
}

.news_detail_wrap p {
  color: #000;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  #news_hero_section {
    padding: 7rem 1rem 2rem;
  }
  .news_poster {
    margin-top: 2rem;
  }
  .news_info_section {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .news_detail_wrap {
    width: 95%;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #news_hero_section {
    padding: 7rem 1rem 2rem;
  }
  .news_poster {
    margin-top: 2rem;
  }
  .news_info_section {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .news_detail_wrap {
    width: 95%;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #news_hero_section {
    padding: 7rem 1.5rem 2rem;
  }
  .news_poster {
    margin-top: 2rem;
  }
  .news_info_section {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .news_detail_wrap {
    width: 95%;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
