@font-face {
  font-family: BebasNeue;
  src: url(/fonts/BebasNeue-Regular.woff2);
}
@font-face {
  font-family: Helvetic;
  src: url(/fonts/Helvetica.ttf);
}
@font-face {
  font-family: Urbanist;
  src: url(/fonts/Urbanist[wght].ttf);
}
@font-face {
  font-family: playfair;
  src: url(/fonts/playfair-display.regular.ttf);
}

:root {
  --primary-font: playfair;
  --secondary-font: Helvetic;
  --tag-font: BebasNeue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fffef1;
}
::-webkit-scrollbar {
  display: none;
}
.tag {
  font-family: var(--tag-font);
  color: #a5a08c;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.heading {
  font-family: var(--primary-font);
  color: #1d1d1d;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.2;
}
.letter-u {
  font-family: var(--primary-font);
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  color: #a5a08c;
}

.description {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.2rem;
  color: #585858;
}

#cursor {
  color: #fffef1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transform: scale(0);
  opacity: 0;
  z-index: 99;
  font-family: var(--tag-font);
  font-size: 1vw;
  font-weight: 400;
  pointer-events: none;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.479);
  height: 5.9722222222vw;
  width: 5.9722222222vw;
}

.landing_text{
  opacity: 0;
}
/* Extra small (Phones) */
@media (max-width: 480px) {
  .tag {
    margin-bottom: 0.5rem;
  }
  .heading,
  .letter-u {
    font-size: 1.9rem !important;
    line-height: 1.2 !important;
  }
  .heading br {
    display: none !important;
  }
  .line-mask {
    display: inline-block !important;
  }
  .description {
    line-height: 1.3 !important;
    font-size: 0.9rem !important;
    font-weight: 100 !important;
  }
  #cursor {
    display: none;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  /* styles for bigger phones & small tablets */
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  /* styles for tablets */
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
