/* directors container */
#directors_container {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
}

.director_card {
  width: fit-content;
  display: flex;
  user-select: none;
  flex-shrink: 0;
  cursor: pointer;
}

.director_card .open{
  opacity: 1;
}

.director_card .close{
  opacity: 0;
}

.director_card_left {
  width: 13vw;
  flex-shrink: 0;
  position: relative;
}
.director_card_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.director_card_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transform: scale(1);
  transition: all ease 0.6s;
  background-color: #a5a08c;
}
.director_card:hover img {
  transform: scale(1.05);
}
.director_card_right {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  opacity: 0;
  overflow: hidden;
}
.director_card_spacer {
  width: 0vw;
  flex-shrink: 0;
  position: relative;
  pointer-events: none;
}

.director_card_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--tag-font);
  color: #1d1d1d;
  font-size: 1.5rem;
  font-weight: 400;
}
.director_card_name svg {
  cursor: pointer;
  transition: opacity ease 0.3s;
}

.director_card_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  background-color: #a5a08c;
  padding: 0.8rem;
}
.director_card_details h6 {
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-weight: 500;
  color: #1d1d1d;
}
.director_card_details h5 {
  font-family: var(--tag-font);
  color: #1d1d1d;
  font-size: 1.1rem;
  font-weight: 400;
}
.director_card_details p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 0.85rem;
  color: #1d1d1d;
  line-height: 1.15;
}
/* directors container end */

/* Extra small (Phones) */
@media (max-width: 480px) {
  #directors_container {
    height: auto;
    gap: 1rem;
    overflow-x: auto;
    margin-top: 2rem;
  }
  .director_card {
    width: 70%;
    flex-shrink: 0;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  /* styles for bigger phones & small tablets */
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  /* styles for tablets */
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
