footer {
  width: 100%;
  padding: 3.5rem;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 5rem;
  overflow: hidden;
}

#footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer_top h2 {
  font-family: var(--tag-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}
#footer_top_right {
  display: flex;
  gap: 4rem;
  width: 35%;
}
.footer_links {
  display: flex;
  flex-direction: column;
}
.footer_links {
  width: 25%;
}

.footer_social {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.footer_social svg {
  cursor: pointer;
  font-size: 1.1rem;
  transition: all ease 0.3s;
}
.footer_social svg:hover {
  transform: scale(1.1);
}

.footer_links h5 {
  display: block;
  font-size: 1.2rem;
  font-family: var(--tag-font);
  color: #a5a08c;
  margin-bottom: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.footer_links a {
  font-size: 1rem;
  font-family: var(--secondary-font);
  color: #ffffff;
  margin-bottom: 0.4rem;
  font-weight: 400;
  line-height: 1.38;
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  text-transform: capitalize;

  /* underline with background-image */
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  background-position: 0 100%;
  transition: background-size 0.4s ease, color 0.4s ease;
}

.footer_links a:hover,
.footer_links a.active {
  background-size: 100% 1.5px;
}

#footer_bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#footer_bottom_left h5 {
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
.message_mobile {
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  display: none;
}

#footer_bottom_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer_bottom_right p {
  display: block;
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.footer_social a span{
  display: none;
}
/* Extra small (Phones) */
@media (max-width: 480px) {
  footer {
    padding: 3.5rem 1rem;
    height: auto;
    gap: 1.5rem;
  }
  #footer_top h2 {
    font-size: 2rem;
  }
  .footer_links a,
  #footer_bottom_left h5,
  #footer_bottom_left a,
  #footer_bottom_right p {
    font-size: 0.9rem;
  }
  .message_mobile {
    display: block;
    margin-top: 1rem;
  }
  .message_desktop {
    display: none;
  }
  #footer_top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #footer_top_right {
    gap: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer_links:nth-child(2) {
    width: 50%;
    margin-bottom: 2rem;
  }
  .footer_social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
  }
  .footer_social a{
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 1;
  }
  .footer_social a span{
    display: inline-block;
  }
  .footer_links:nth-child(1) {
    width: 50%;
  }

  #footer_bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #footer_bottom_left {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  footer {
    padding: 3rem 1rem;
  }
  #footer_top {
    flex-direction: column;
    gap: 2rem;
  }
  #footer_top_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #footer_top h2{
    font-size: 1.8rem;
  }
  .footer_links a,
  #footer_bottom_left h5,
  #footer_bottom_right p,
  #footer_bottom_left a {
    font-size: 0.9rem;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1100px) {
  footer {
    padding: 3rem 1.5rem;
  }
  #footer_top {
    flex-direction: column;
    gap: 2rem;
  }
  #footer_top_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer_links:nth-child(2) {
    width: 40%;
  }
  .footer_links {
    width: 18%;
  }
  .footer_links a,
  #footer_bottom_left h5,
  #footer_bottom_right p,
  #footer_bottom_left a {
    font-size: 0.95rem;
  }
}

/* Large (Laptops) */
@media (min-width: 1100px) and (max-width: 1280px) {
  #footer_top_right {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
