footer {
  width: 100%;
  padding: 3.5rem;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 5rem;
  overflow: hidden;
}

#footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer_top h2 {
  font-family: var(--tag-font);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
#footer_top_right {
  width: 18%;
  display: flex;
  gap: 4rem;
}
.footer_links {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer_social{
  display: flex;
  align-items:center;
  gap: 1.2rem;
}
.footer_social svg:last-child{
  fill: #FF0000;
}
.footer_links h5 {
  display: block;
  font-size: 1rem;
  font-family: var(--tag-font);
  color: #FFFEF1;
  margin-bottom: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.footer_links a {
  display: block;
  font-size: 1.125rem;
  font-family: var(--tag-font);
  color: #FFFFFF;
  margin-bottom: .4rem;
  font-weight: 400;
  text-decoration: none;
}

#footer_bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#footer_bottom_left img {
 width: 4.5rem;
 height: 4.5rem;
 object-fit: contain;
}
#footer_bottom_left a {
  text-decoration: none;
  color: white;
  font-family: Helvetic;
  font-weight: 400;
  font-size: 0.8rem;
}
#footer_bottom_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer_bottom_right p {
  display: block;
  font-size: 1.125rem;
  font-family: var(--tag-font);
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  footer {
    padding: 3.5rem 1rem;
    height: auto;
    gap: 5rem;
  }
  #footer_top h2 {
    font-size: 3rem;
  }
  #footer_top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #footer_bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #footer_bottom_left {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  /* styles for bigger phones & small tablets */
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  /* styles for tablets */
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
