/* gallery section */
#gallery_title {
  width: 100%;
  padding: 9rem 3.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  #gallery_title.not-hero {
    padding-top: 3.5rem !important;
  }

#gallery_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  padding: 3.5rem;
  padding-bottom: 4.5rem;
}

.gallery_card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;   /* YouTube video ratio */
}
.image,
.card_details {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.6s;
}
.gallery_card:hover img {
  scale: 1.05;
}
.image1 {
  top: 0;
  right: 0;
  filter: brightness(0.3);

}
.image2 {
  top: 2%;
  right: 2%;
  transition: all ease 0.5s;
  filter: brightness(0.6);
}
.image3 {
  top: 4%;
  right: 4%;
  transition: all ease 0.5s;
}

.gallery_card:hover .image2,
.gallery_card:hover .image3 {
  top: 0;
  right: 0;
}

.card_details {
  top: 4%;
  right: 4%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_details .heading {
  font-size: 2.5rem;
  color: #fffef1;
}
.arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.arrow_circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  background-color: #fffef1;
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all ease 0.3s;
}

.arrow_circle svg {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  flex-shrink: 0;
  transition: all ease 0.3s;
}
.arrow_circle svg:nth-child(2) {
  transform: translateX(-100%);
}

.arrow_circle:hover {
  background-color: #1d1d1d;
  color: #fffef1;
}
.arrow_circle:hover svg:nth-child(1) {
  transform: translate(100%, -100%);
}
.arrow_circle:hover svg:nth-child(2) {
  transform: translate(0%, -100%);
}

#gallery_detail_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 3.5rem;
  padding-top: 1rem;
}

.gallery_detail_card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.175);
}

.gallery_detail_card video,
.gallery_detail_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Different sizes for visual variation */
.gallery_detail_card_large {
  height: auto;
}

.gallery_detail_card_small {
  height: auto;
}

/* Optional hover effect for depth */
.gallery_detail_card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.video_player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.mute_btn {
  color: #fffef1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  cursor: pointer;
}
#gallery_fullview {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preview_container {
  width: 855px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preview_container iframe {
  width: 100%;
  height: 100%;
}
.spinner {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner img {
  width: 3rem !important;
  height: 3rem !important;
  object-fit: contain !important ;
}
#close_view {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  color: white;
}
#close_view svg {
  font-size: 1.5rem !important;
  cursor: pointer;
}
#gallery_fullview svg {
  color: white;
  font-size: 3rem;
  transition: all ease 0.3s;
}
#gallery_fullview svg:hover {
  color: grey;
}
.prev_btn {
  position: absolute;
  left: 2rem;
  cursor: pointer;
  z-index: 9;
}
.next_btn {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  z-index: 9;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  #gallery_title {
    padding: 7rem 1rem 1rem;
  }
  #gallery_title.not-hero {
    padding-top: 1.5rem !important;
  }
  #gallery_list {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 2.5rem;
    padding: 1rem;
    padding-bottom: 3.5rem;
  }
  /* .gallery_card {
    height: 250px;
    width: 100%;
    position: relative;
} */
  .arrow_circle {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }

  #gallery_detail_list {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery_detail_card {
    margin-bottom: 1rem;
  }

  .image {
    width: 96%;
    height: 96%;
  }
  .image1 {
    top: 0;
    right: 0;
  }
  .image2 {
    top: 2%;
    right: 2%;
    transition: all ease 0.5s;
  }
  .image3 {
    top: 4%;
    right: 4%;
    transition: all ease 0.5s;
  }
  #preview_container {
    width: 100%;
    height: auto;
  }
  #gallery_fullview svg {
    font-size: 2rem;
  }
  .prev_btn {
    left: 2rem;
    bottom: 5rem;
  }
  .next_btn {
    right: 2rem;
    bottom: 5rem;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #gallery_title {
    padding: 7rem 1rem 2rem;
  }
  #gallery_title {
    padding: 7rem 1rem 2rem;
  }
  #gallery_list {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 2.5rem;
    padding: 1rem;
    padding-bottom: 3.5rem;
  }
  .arrow_circle {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  #gallery_detail_list {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  .image {
    width: 96%;
    height: 96%;
  }
  .image1 {
    top: 0;
    right: 0;
  }
  .image2 {
    top: 2%;
    right: 2%;
    transition: all ease 0.5s;
  }
  .image3 {
    top: 4%;
    right: 4%;
    transition: all ease 0.5s;
  }
  #preview_container {
    width: 100%;
    height: auto;
  }
  #gallery_fullview svg {
    font-size: 2rem;
  }
  .prev_btn {
    left: 2rem;
    bottom: 5rem;
  }
  .next_btn {
    right: 2rem;
    bottom: 5rem;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #gallery_title {
    width: 100%;
    padding: 7rem 1.5rem 2rem;
  }
  #gallery_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 1rem;
  }

  #gallery_detail_list {
    column-count: 3;
    grid-template-columns: repeat(3, 1fr);

    padding: 3.5rem 1.5rem;
  }
  .image {
    width: 96%;
    height: 96%;
  }

  .arrow_circle {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }

  #preview_container {
    width: 90%;
    height: auto;
  }
  #gallery_fullview svg {
    font-size: 2rem;
  }
  .prev_btn {
    left: 2rem;
    bottom: 2rem;
  }
  .next_btn {
    right: 2rem;
    bottom: 2rem;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
