/* gallery section */
#gallery_title {
  width: 100%;
  padding: 7rem 3.5rem 2rem;
}

#gallery_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  padding: 3.5rem;
}

.gallery_card {
  height: 400px;
  position: relative;
}
.image,
.card_details {
  position: absolute;
  width: 96%;
  height: 96%;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.6s;
}
.gallery_card:hover img {
  scale: 1.02;
}
.image1 {
  top: 0;
  right: 0;
}
.image2 {
  top: 2%;
  right: 2%;
}
.image3 {
  top: 4%;
  right: 4%;
}

.card_details {
  top: 4%;
  right: 4%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_details .heading {
  font-size: 2.5rem;
  color: #fffef1;
}
.arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.arrow_circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  background-color: #fffef1;
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#gallery_detail_list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding: 3.5rem;
}

.gallery_detail_card_large {
  background-color: rgba(128, 128, 128, 0.175);
  height: 380px;
  grid-column: span 6;
  position: relative;
  overflow: hidden;
}
.gallery_detail_card_large video,
.gallery_detail_card_large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_detail_card_small {
  background-color: rgba(128, 128, 128, 0.175);
  height: 280px;
  grid-column: span 4;
  position: relative;
  overflow: hidden;
}
.gallery_detail_card_small video,
.gallery_detail_card_small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.mute_btn {
  color: #fffef1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  cursor: pointer;
}
/* Extra small (Phones) */
@media (max-width: 480px) {
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
