/* trailer  start */
#trailer_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer_slider {
  height: 100vh;
  width: 100%;
  position: relative;
  perspective: 800px; /* 3D effect */
  overflow: hidden;
}

.trailer_panel {
  width: calc(100% - 8rem);
  height: calc(100% - 7rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  backface-visibility: hidden;
  padding: 1.5rem 0 0;
}

.trailer_panel_poster {
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.367);
}
.trailer_panel_poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.6s;
}
.trailer_panel:hover img {
  transform: scale(1.05);
}
.trailer_panel_info {
  width: 100%;
  height: 10%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.trailer_panel_info p {
  font-family: var(--primary-font);
  color: #1d1d1d;
  font-size: 1.5rem;
  width: 40%;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0.5rem;
}
.trailer_panel_info p:last-child {
  width: fit-content;
}

.trailer_panel1 {
  z-index: 2;
}

.trailer_panel2 {
  z-index: 1;
}

.trailer_panel3 {
  z-index: 1;
}

/* trailer  end */

/* trailer section  start */
#trailer_section {
  width: 100%;
  padding: 3.5rem;
  flex-direction: column;
  align-items: center;
  display: none;
}

#trailer_swiper_container {
  height: 38vw;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
  cursor: none;
}

#trailer_swiper_container .swiper {
  width: 100%;
  height: auto;
  cursor: none;
  user-select: none;
}
#trailer_swiper_container .swiper:active,
#trailer_swiper_container .swiper-slide:active {
  cursor: none;
}

#trailer_swiper_container .swiper-slide {
  width: 100%;
  height: 100%;
  cursor: none;
}

#trailer_swiper_container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#trailer_swiper_indicator {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.indicator_card {
  width: 250px;
  height: 100px;
  overflow: hidden;
  transition: all ease 0.3s;
  cursor: pointer;
}

.indicator_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicator_card.active {
  width: 260px;
  height: 120px;
}
/* trailer section end */

/* Extra small (Phones) */
@media (max-width: 480px) {
  #trailer_heading,
  .trailer_slider {
    display: none;
  }
  #trailer_section {
    padding: 2rem 1rem;
    display: flex;
  }
  #trailer_swiper_container {
    height: auto;
    margin: 2rem 0 1rem;
  }
  #trailer_swiper_indicator {
    height: 100px;
  }
  .indicator_card {
    width: 90px;
    height: 50px;
  }
  .indicator_card.active {
    width: 100px;
    height: 60px;
  }

  /* card */

  .trailer_panel {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    font-size: 3rem;
    padding: 0;
  }

  .trailer_panel_poster {
    height: 40vh;
  }
  .trailer_panel_info {
    height: auto;
    flex-direction: column;
  }

  .trailer_panel_info p {
    font-size: 1.2rem;
    width: 95%;
    margin-top: 0.5rem;
  }
  .trailer_panel_info p:last-child {
    width: fit-content;
  }
}
/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #trailer_heading,
  .trailer_slider {
    display: none;
  }
  #trailer_section {
    padding: 2rem 1rem;
    display: flex;
  }
  #trailer_swiper_container {
    height: auto;
    margin: 2rem 0 1rem;
  }
  #trailer_swiper_indicator {
    height: 100px;
  }
  .indicator_card {
    width: 90px;
    height: 50px;
  }
  .indicator_card.active {
    width: 100px;
    height: 60px;
  }

  /* card */

  .trailer_panel {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    font-size: 3rem;
    padding: 0;
  }

  .trailer_panel_poster {
    height: 40vh;
  }
  .trailer_panel_info {
    height: auto;
    flex-direction: column;
  }

  .trailer_panel_info p {
    font-size: 1.2rem;
    width: 95%;
    margin-top: 0.5rem;
  }
  .trailer_panel_info p:last-child {
    width: fit-content;
  }
}

/* Medium (Tablets) */
@media (min-width: 764px) and (max-width: 1024px) {
  #trailer_heading,
  .trailer_slider {
    display: none;
  }
  #trailer_section {
    padding: 2rem 1rem;
    display: flex;
  }
  #trailer_swiper_container {
    height: auto;
    margin: 2rem 0 1rem;
  }
  #trailer_swiper_indicator {
    height: 100px;
  }
  .indicator_card {
    width: 90px;
    height: 50px;
  }
  .indicator_card.active {
    width: 100px;
    height: 60px;
  }

  /* card */

  .trailer_panel {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    font-size: 3rem;
    padding: 0;
  }

  .trailer_panel_poster {
    height: 45vh;
  }
  .trailer_panel_info {
    height: auto;
    flex-direction: column;
  }

  .trailer_panel_info p {
    font-size: 1.5rem;
    width: 95%;
    margin-top: 0.5rem;
  }
  .trailer_panel_info p:last-child {
    width: fit-content;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
