#navbar {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .9rem 3.5rem;
  border-bottom: 1px solid transparent;
  z-index: 99;
}
#logo {
  text-decoration: none;
}
#logo img {
  width: 3.8rem;
  height: auto;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_links a {
  text-decoration: none;
  color: #1D1D1D;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  font-family: BebasNeue;
  height: 1.3rem;
  overflow: hidden;
  position: relative;
}

.nav_links a::before {
 content: "";
 position: absolute;
 width: 0%;
 height: 2px;
 left: 0;
 bottom: 0;
 background-color: #1d1d1d;
 transition: all ease .3s;
}
.nav_links a.dark::before{
  background-color: #fff;
}
.nav_links a.active::before{
  width: 100%;
}

.nav_links a span {
  display: inline-block;
}

#navigation {
  width: 100%;
  height: calc(100dvh - 100px);
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #fffef1;
  color: #1d1d1d;
  flex-direction: column;
  padding: 1rem;
  padding-top: 6rem;
  z-index: 99;
  display: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  font-family: var(--tag-font);
}
.menu-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#menu-btn {
  position: relative;
  z-index: 10;
  width: 25px;
  height: 15px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  display: none;
  cursor: pointer;
}
.line1m {
  top: 0%;
}
.line2m {
  top: calc(100% - 1.5px);
}
.line3m {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
}
.linem {
  position: absolute;
  display: block;
  width: 25px;
  height: 1.5px;
  background-color: #1d1d1d !important;
  transform-origin: center;
}
#menu-btn.dark-menu .linem{
  background-color: #fffef1 !important;
}
.menu-links a {
  text-decoration: none;
  color: #1d1d1d !important;
  font-family: var(--tag-font);
  text-align: right;
  font-size:2.2rem;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: center;
  gap: 13px;
}
.menu-links a span {
  font-family: var(--tag-font);
  font-size: 14px;
  opacity: 0.8;
}

.meun_social{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu_social_icon{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
}
.menu_social_icon svg{
  width: 2.2rem;
  height: 2.2rem;
  padding: .5rem;
  border-radius: 50px;
  border: 1px solid #1D1D1D;
}

.meun_social a{
  text-decoration: none;
  color: #1D1D1D;
  display: inline-block;
}
.menu_contact p{
  opacity: .7;
  margin-bottom: .3rem;
}

/* Extra small (Phones) */
@media (max-width: 480px) {
  #navbar {
    mix-blend-mode: normal;
    background-color: #fffef1;
    padding: 0.9rem 1rem;
    height: 55px;
  }
  #logo {
    filter: invert(0);
  }
  #logo img {
    width: 3.5rem;
  }
  .nav_links {
    display: none;
  }
  #navigation {
    display: flex;
    justify-content: space-between;
    height: calc(100dvh);
    height: calc(100dvh - 55px);
    top: 55px;
  }
  #menu-btn {
    display: flex;
  }
  .menu-links{
    gap: 22px;
  }
}

/* Small (Phones to Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  #navbar {
    mix-blend-mode: normal;
    background-color: #fffef1;
    padding: 0.9rem 1rem;
    height: 55px;
  }
  #logo {
    filter: invert(0);
  }
  #logo img {
    width: 3.5rem;
  }
  .nav_links {
    display: none;
  }
  #navigation {
    display: flex;
    justify-content: space-between;
    height: calc(100dvh);
    height: calc(100dvh - 55px);
    top: 55px;
  }
  #menu-btn {
    display: flex;
  }
  .menu-links{
    gap: 22px;
  }
}

/* Medium (Tablets) */
@media (min-width: 767px) and (max-width: 1024px) {
 #navbar {
    background-color: #fffef1;
    padding: 0.9rem 1.5rem;
    height: 55px;
  }
}

/* Large (Laptops) */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* styles for small laptops/desktops */
}
